<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <header th:replace="main :: header(titre='Cours')"></header>
    <section>
        <h2>Liste des cours</h2>
        <table th:unless="${#lists.isEmpty(courses)}" class="table table-bordered table-striped mb-0">
            <thead>
                <th>Sigle</th>
                <th>Titre</th>
                <th>ECTS</th>
            </thead>
            <tr th:each="course : ${courses}">
                <td><a class="stetched-link" th:href="@{/courses/{id}(id = ${course.id})}" th:text="${course.id}"></a></td>
                <td th:text="${course.libelle}"></td>
                <td th:text="${course.ects}"></td>
            </tr>
        </table>
        <div th:if="${#lists.isEmpty(courses)}" th:text="|Aucun cours|">Aucun cours</div>
    </section>
    <span th:unless="${detail==null}">
        <section th:replace="courses/detail_course :: detail_course"></section>
    </span>
    <section>
        <h2>Ajouter un cours:</h2>
        <form th:action="@{/addNewCourse}" th:object="${newCourse}" method="post">
            <label for="sigleInput">Sigle : </label>
            <input type="text" name="sigleInput" th:field="*{id}" th:errorclass="fieldError" value="MOBG5"/><br>
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Ne peut pas être vide.</span>
            <label for="libelleInput">Libelle : </label>
            <input type="text" name="libelleInput" th:field="*{libelle}" value="Développement Mobile"/><br>
            <span th:errors="*{libelle}" class=errorField>Ne peut pas être vide.</span>
            <label for="libelleInput">ECTS : </label>
            <input type="text" name="ectsInput" th:field="*{ects}" value="5"/><br>
            <span th:errors="*{ects}" class=errorField>Doit être strictement positif.</span>
            <button class="btn btn-success" type="submit">Envoyer</button>
        </form>
    </section>    
    <div th:replace="main :: footer_margin"></div>
    <footer th:replace="main :: footer"></footer>
    
</body>
</html>