<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <header th:replace="main :: header(title=#{courses})"></header>

    <section>
        <h2>Liste des cours</h2>

        <table th:unless="${#lists.isEmpty(courses)}" class="table table-bordered table-striped mb-0">

            <thead>
                <th>Sigle</th>
                <th>Titre</th>
                <th>ECTS</th>
            </thead>

            <tr th:each="course : ${courses}">
                <td><a th:href="@{/courses/{id}(id = ${course.id})}" th:text="${course.id}"></a></td>
                <td><a th:href="@{/courses/{libelle}(libelle = ${course.libelle})}"  th:text="${course.libelle}"></a></td>
                <td th:text="${course.ects}"></td>
            </tr>

        </table>

        <div th:if="${#lists.isEmpty(courses)}" th:text="|Aucun cours|">Aucun cours</div>
    </section>

    <section>
        <h2>Ajouter un cours:</h2>
        <form th:action="@{/courses/add}" th:object="${newCourse}" method="post">

            <label for="course_id">Sigle : </label>
            <input type="text" name="course_id" th:field="*{id}" th:errorclass="fieldError" placeholder="Entrez le sigle du cours"/>
            <span th:errors="*{id}" class="errorField">Sigle invalide</span><br>

            <label for="course_libelle">Libelle : </label>
            <input type="text" name="course_libelle" th:field="*{libelle}"/>
            <span th:errors="*{libelle}" class=errorField>Libelle invalide</span><br>

            <label for="course_ects">ECTS : </label>
            <input type="text" name="course_ects" th:field="*{ects}" />
            <span th:errors="*{ects}" class=errorField>ECTS invalides</span><br>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul><br>

            <button class="btn btn-success" type="submit">Envoyer</button>
        </form>
    </section>  

    <div th:replace="main :: footer_margin"></div>
    <footer th:replace="main :: footer"></footer>
    
</body>
</html>