<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <header th:replace="main :: header(title=#{students})"></header>
    <section><h2>Students List</h2>
        <form th:action="@{/students}" th:object="${filter}" method="post">
            <label for="student_number" th:text="#{number}"></label>
            <input type="text" name="student_number" th:field="*{number}" th:placeholder="#{number}"/><br>

            <label for="student_name" th:text="#{name}"></label>
            <input type="text" name="student_name" th:field="*{name}" th:placeholder="#{name}"/><br>

            <label for="student_section" th:text="#{section}"></label>
            <select name="student_section"  th:field="*{section}">
                <option th:value="null"></option>
                <option th:each="section : ${sections}" th:value="${section.name()}" th:text="${section.name()}"></option>
            </select><br>

            <label for="student_bloc" th:text="#{bloc}"></label>
            <select name="student_bloc"  th:field="*{bloc}">
                <option th:value="null"></option>
                <option th:each="bloc : ${blocs}" th:value="${bloc}" th:text="${bloc}"></option>
            </select><br>

            <button class="btn btn-success" type="submit" th:text="#{filter}"></button>
        </form>
        <br>
        <table th:unless="${#lists.isEmpty(students)}" class="table table-bordered table-striped mb-0">
            <tr>
                <th th:text="#{number}"></th>
                <th th:text="#{name}"></th>
                <th th:text="#{section}"></th>
                <th th:text="#{bloc}"></th>
            </thead>
            <tr th:each="student : ${students}">
                <td><a th:href="@{students/{number}(number = ${student.number})}" th:text="${student.number}"></a></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.section}"></td>
                <td th:text="${student.bloc}"></td>
            </tr>
        </table>
        <div th:if="${#lists.isEmpty(students)}" th:text="|No students|"></div>
    </section>
    <footer th:replace="main :: footer_margin"></footer>
    <footer th:replace="main :: footer"></footer>
</body>
</html>