<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="fragments/main.html::header(titre='Cours')"></header>
    <section>
        <h2>Liste des cours</h2>
        <table th:unless="${#lists.isEmpty(courses)}" class="table table-bordered table-striped mb-0">
            <tr>
                <th>Sigle</th>
                <th>Titre</th>
                <th>ECTS</th>
            </thead>
            <tr th:each="course : ${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.libelle}"></td>
                <td th:text="${course.ects}"></td>
            </tr>
        </table>
        <div th:if="${#lists.isEmpty(courses)}" th:text="|Aucun cours|">Aucun cours</div>
    </section>
    <section>
        <h2>Ajouter un cours:</h2>
        <form th:action="@{/urlCtrl}" th:object="${newCourse}" method="post">
            <label for="sigleInput">Sigle : </label>
            <input type="text" name="sigleInput" th:field="*{id}" th:errorclass="fieldError"/><br>
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Ne peut pas être vide.</span>
            <label for="libelleInput">Libelle : </label>
            <input type="text" name="libelleInput" th:field="*{libelle}"/><br>
            <span th:errors="*{libelle}" class=errorField>Ne peut pas être vide.</span>
            <label for="libelleInput">ECTS : </label>
            <input type="text" name="ectsInput" th:field="*{ects}"/><br>
            <span th:errors="*{ects}" class=errorField>Doit être strictement positif.</span>
            <button type="submit">Envoyer</button>
        </form>
    </section>    
    <footer th:replace="fragments/main.html::footer"></footer>
    
</body>
</html>